.CBLink {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #8fc1e0;
  color: #f6f3f5;
  cursor: pointer;
  transition: border-color 0.25s;
  text-decoration: none;
}

.CBLinkBIG {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 25px;
  font-weight: 500;
  font-family: inherit;
  background-color: #8fc1e0;
  color: #f6f3f5;
  cursor: pointer;
  transition: border-color 0.25s;
  text-decoration: none;
  margin: 10px;
  justify-content: center;
  text-align: center;
}

.navbar__buttons {
  padding: 10px;
  color: white;
  background-color: black;
  font-size: 14px;
  border: 1px solid teal;
  cursor: pointer;
  min-width: 20px;
  margin: 10px;
}
