.CBField {
  width: 95%;
  padding: 5px 15px;
  margin: 5px 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #8fc1e0;
  color: #f6f3f5;
  justify-content: center;
}
